{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <section class="bg-red-200">
        <p class="text-center bg-yellow-50-800">EEEf</p>
        <p>JHell</p>
    </section>
{% endblock %}
