<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>ESP - {% block title %}{% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock %}">
        <link rel="icon" type="image/x-icon" href="{{ asset('medias/favicon.ico') }}">
        <link rel="canonical" href="https://esp-rhone-alpes.fr{% block url %}{% endblock %}" />
        <meta name="robots" content="{% block robots %}{% endblock %}"/>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

            <!-- Google Tag Manager -->
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-MK5L23Q9');</script>
            <!-- End Google Tag Manager -->

            <script type="application/ld+json">
                {
                    "@context": "https://schema.org",
                    "@type": "WebSite",
                    "name": "ESP Débarras et Nettoyage",
                    "url": "https://esp-rhone-alpes.fr"
                }
            </script>
        {% endblock %}

        <meta property="og:type" content="website">
        <meta property="og:title" content="{% block ogTitle %}{% endblock %}">
        <meta property="og:url" content="{% block ogUrl %}{% endblock %}">
        <meta property="og:image" content="{% block ogImage %}{% endblock %}">
        <meta property="og:image:alt" content="{% block ogImageAlt %}{% endblock %}"/>
        <meta property="og:description" content="{% block ogDescription %}{% endblock %}">
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MK5L23Q9"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        {% include 'components/header.html.twig' %}
        <main class="mt-20">
            {% block body %}{% endblock %}
        </main>
        {% include 'components/footer.html.twig' %}
    </body>
</html>
