{% extends 'base.html.twig' %}

{% block robots %}noindex, nofollow{% endblock %}
{% block title %}Erreur 500 - Erreur interne{% endblock %}
{% block description %}Une erreur interne du serveur est survenue.{% endblock %}

{% block body %}
    <section class="grid min-h-full place-items-center bg-white px-6 py-24 sm:py-52 lg:px-8">
        <div class="text-center">
            <p class="text-base font-semibold text-primary">500</p>
            <h1 class="mt-4 text-balance text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl">Erreur</h1>
            <p class="mt-6 text-pretty text-lg text-gray-500 sm:text-xl/8">Une erreur interne du serveur s’est produite. Nous n’avons pas pu traiter votre demande</p>
            <div class="mt-10 flex items-center justify-center gap-x-6">
                <a href="{{ path('app_home') }}" class="text-sm font-semibold text-white bg-gray-900 px-4 py-3 rounded-full border border-gray-900 hover:bg-white hover:text-gray-900 transition duration-100">Revenir à l'accueil</a>
            </div>
        </div>
    </section>
{% endblock %}