{% extends 'base.html.twig' %}

{% block robots %}index, nofollow{% endblock %}
{% block title %}Mentions Légales{% endblock %}
{% block description %}Mentions légales du site ESP Débarras Nettoyage Rhône-Alpes : éditeur, hébergeur, SIRET et conditions.{% endblock %}
{% block url %}{{ path('app_legal_notice') }}{% endblock %}

{% block body %}
    <section class="bg-white py-16 sm:py-24">
        <div class="mx-auto max-w-2xl text-center px-6 lg:px-8">
            <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Mentions légales</h1>
        </div>
        <div class="mt-10 sm:mt-16 max-w-4xl mx-auto px-6 lg:px-8 space-y-5">
            <p class="text-gray-600">Vous êtes actuellement connecté au site web <span class="underline underline-offset-4 decoration-dotted">esp-rhone-alpes.fr</span> propriété exclusive de ESP Débarras. Ce site utilise Google Analytics.</p>
            <p class="text-gray-600"><span class="font-semibold">Dénomination sociale :</span> ESP Débarras Nettoyage Rhone-Alpes - SIRET 88010535800019 / TVA Intra FR45880105358 </p>
            <p class="text-gray-600"><span class="font-semibold">Téléphone :</span> <a href="tel:0641288848">+33 6 41 28 88 48</a></p>
            <p class="text-gray-600"><span class="font-semibold">Directeur de la publication :</span> Mr Curetti Patrice</p>
            <p class="text-gray-600"><span class="font-semibold">Hébergeur :</span> Ce site est hébergé par o2switch en France (<a href="https://www.o2switch.fr/" class="underline-offset-4 underline decoration-dotted" target="_blank" rel="noopener">https://www.o2switch.fr/</a>)</p>
        </div>
    </section>
{% endblock %}
